{% for collection in collections %}
    <tr>
        <td class="py-2 px-4 text-sm font-medium text-gray-900">{{collection.name}}</td>
        <td class="py-2 px-4 text-sm text-gray-500">{{collection.description}}</td>
        <td class="py-2 px-4 text-right text-sm font-medium">
            <a href="{% url 'view_collection' collection.id %}" 
               class="inline-block bg-blue-300 hover:bg-blue-600 text-white py-1 px-3 rounded">
                Ver pinturas <span class="sr-only">, {{collection.name}}</span>
            </a>
        </td>
        <td class="py-2 px-4 text-right text-sm font-medium">
            <a href="{% url 'edit_collection' collection.id %}" 
               class="inline-block bg-blue-400 hover:bg-blue-600 text-white py-1 px-3 rounded">
                Editar<span class="sr-only">, {{collection.name}}</span>
            </a>
        </td>
        <td class="py-2 px-4 text-right text-sm font-medium">
            <form action="{% url 'delete_collection' collection.id %}" method="post"
                onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta colección?');">
                {% csrf_token %}
                <input type="submit"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded inline-flex items-center"
                    value="Eliminar">
            </form>
        </td>
    </tr>
{% endfor %}
