{% extends "collection/base.html" %}

{% block content %}
    <div class="flex justify-center md:mx-auto md:max-w-screen-2xl px-2">
        {% if user.is_authenticated %}
            <div class="my-5 bg-slate-200 border-l-4 border-slate-500 text-slate-700 p-6" role="alert">
                <p class="font-bold">Hola {{user.username}}</p>
                <p>Aquí podrás ver muchas pinturas.</p>
                <p class="font-bold"><a class="text-sky-600" href="/accounts/logout">Termina la sesión</a></p>
            </div>
        </div>

        <div class="font-sans max-w-4xl mx-auto">
            <form method="get" action="{% url 'buscar_elementos' %}">
                <input type="text" name="q" placeholder="Buscar pinturas">
                <button type="submit">Buscar</button>
            </form>

            {% for artwork in artworks %}
                <h2 class="font-medium text-center text-xl">{{ artwork.title }}</h2>
                <h3 class="font-bold text-slate-700 text-center">{{ artwork.author.name }}</h3>
                <img class="mx-auto" src="{{ artwork.image_url }}" alt="{{ artwork.title }}">
            {% endfor %}
        </div>

    {% else %}
        <div class="my-5 bg-slate-200 border-l-4 border-slate-500 text-slate-700 p-6" role="alert">
            <p class="font-bold">Hola</p>
            <p>Por favor <a class="text-sky-600 font-bold" href="/accounts/login">inicia sesión</a> para ver esta página.</p>
        </div>
    {% endif %}
{% endblock content %}

