{% extends "collection/base.html" %}

{% block content %}

<div class="container mx-auto px-5 py-20 lg:px-15 lg:pt-15 bg-blue-100">
  <div class="-m-1 flex flex-wrap md:-m-2">
    {% for artwork in page_obj %}  
    <div class="flex w-1/4 flex-wrap pt-3">
      <div class="w-full p-1 md:p-2">
        <img
          class="block h-full w-full rounded-lg object-cover object-center"
          src="{{artwork.image_url}}" alt="{{artwork.title}}" />
      </div>
      <div  class=" -m-1 h-10 mt-1 mb-5 "> 
                <a href="/artwork/{{artwork.id}}" class="block overflow-hidden
                    text-ellipsis pl-5 text-sky font-bold"> {{artwork.title|truncatechars_html:40}}  </a>
                <a href="#"  class="block pl-5 text-black"> {{artwork.author.name}} 
                    <span class="text-black text-sm font-black"> {{artwork.date}} </span> </a>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>
<nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      Showing page
      <span class="font-medium">{{ page_obj.number }}</span>
      of
      <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
    </p>
  </div>
  <div class="flex flex-1 justify-between sm:justify-end">
    {% if page_obj.has_previous %}
    <a href="?search={{ search_value|stringformat:'s'}}&page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-500 focus-visible:outline-offset-0 text-white">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?search={{ search_value|stringformat:'s'}}&page={{ page_obj.next_page_number }}" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-500 focus-visible:outline-offset-0 text-white">Next</a>
  </div>
  {% endif %}
</nav>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
